#dekko-page {
        padding: none;
}

.title, .introduction, .button {
        margin-bottom: 1rem;
}

.is-hidden {
        display: none;
}

.img-cordova {
        display: block;
        margin: 0 auto;
}

.cordova-indicator {
        text-align: center;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.html-container::-webkit-scrollbar {
 display: none;
    margin-top: 4px;
}

.header_container {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 0.1rem solid #c9c9c9;
    font-size: 0.9rem;
}

.header {
    overflow: hidden;
    -webkit-user-select: auto;
    padding-left: 0.5rem;
}
.header .field {
     margin-right: 1px;
     margin-bottom: 5px;
     text-align: left;
     clear: both;
     overflow: hidden;
 }


.header .field .header_title,
.header.field.value {
    float: left;
}

.header .field .header_title {
    width: auto;
    padding-right: 7px;
    padding-left: 7px;
    text-align: left;
}

.header .field .value {
    margin-left: 0;
    margin-left: 2em;
    overflow-y: auto;
    cursor: auto;
}

a.value_container:link {
    color: #808080;
    text-decoration: none;
}

a.value_container:hover {
    text-decoration:underline;
}

.address_name {
    font-weight: bold;
}

.date_container {
    position: absolute;
    right: 6px;
}

.plaintext_container {
    margin: 10px;
}

.attachment_image {
    height: 2rem;
    width: 2rem;
}

#attach_aside {
    margin-left: 1rem;
}

#popover_inverse_mousearea {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 109;
    display: none;
    left: 0;
    top: 0;
}

#attachments_list.expandable {
    height: 3.1rem;
    overflow: hidden;
    position: relative;
}

#attachments_list.expandable.expanded {
    height: auto;
}

#attachment-collapse-button-container {
    position: absolute;
    top: 0rem;
    right: 0rem;
    padding: 1rem;
    z-index: 109;
}

#attachment-collapse-button-container img {
    height: 1.2rem;
}

#attachments_list.expanded img.down-img {
    display: none;
}

#attachments_list img.up-img {
    display: none;
}

#attachments_list.expanded img.up-img {
    display: inline;
}

#attachemnt-count {
    position: relative;
    top: -0.2rem;
}

@media screen and (min-width: 22rem) {
    #attachments_list.expandable ul li:first-child p{
        max-width: 12rem;
    }
}

@media screen and (min-width: 27rem) {
    #attachments_list.expandable ul li:first-child p{
        max-width: 17rem;
    }
}

@media screen and (min-width: 32rem) {
    #attachments_list.expandable ul li:first-child p{
        max-width: 22rem;
    }
}

@media screen and (min-width: 42rem) {
    #attachments_list.expandable ul li:first-child p{
        max-width: 32rem;
    }
}
